# Gradle
.gradle/
build/

# Local config (SDK path, secrets)
local.properties

# IDE (Android Studio / IntelliJ)
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Android Studio specific
/captures
.externalNativeBuild
.cxx/

# Keystore files (for security )
*.jks
*.keystore

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Firebase / API keys
app/google-services.json